@keyframes moveUpDown
  0%
    background-position 0 0px
  100%
    background-position 0 -350px



@keyframes panel-animation
  0%
    transform translateY(-20%)
    opacity 0

  100%
    transform translateY(0px)
    opacity 1


@keyframes lang
  0%
  100%
    transform translateX(0%)
  50%
    transform translateX(10%)


@keyframes chuan
  0%
  100%
    transform translateX(0%)
  50%
    transform translateX(5%)


@keyframes chuan2
  0%
  100%
    transform translateX(3%)
  50%
    transform translateX(0%)


@keyframes star
  0%
  100%
    box-shadow 0 0 25px transparent
    opacity .95
  50%
    box-shadow 0 0 5px $col-white
    opacity 0.3

@keyframes star1
  0%
  100%
    box-shadow 0 0 5px transparent
    opacity .3
  50%
    box-shadow 0 0 25px $col-white
    opacity 0.9

@keyframes star2
  0%
  100%
    transform translateX(0%)
    transform opacity .6
  50%
    transform translateX(3%)
    transform opacity .9

@keyframes creative
  to
    stroke-dashoffset 0

@keyframes shake-leftright
  0%
  100%
  60%
    transform rotate(0deg)
    transform-origin 50% 95%
  20%
    transform rotate(7deg)
    transform-origin 50% 95%
  40%
    transform rotate(0deg)
    transform-origin 50% 95%
  80%
    transform rotate(6deg)
    transform-origin 50% 95%
@keyframes shake-leftright-2
  0%
  100%
    transform rotate(0deg)
    transform-origin 50% 95%
  20%
  80%
    transform rotate(5deg)
    transform-origin 50% 95%
  40%
    transform rotate(0deg)
    transform-origin 50% 95%
  60%
    transform rotate(1deg)
    transform-origin 50% 95%
@keyframes jiguang-1
  0%
  50%
  100%
    opacity .3
    transform translateX(0%)
  25%
    opacity 1
    transform translateX(3%)
  75%
    opacity 1
    transform translateX(-3%)
@keyframes jiguang-2
  0%
  100%
    opacity .8
    transform translateX(2%)
  50%
    opacity .1
    transform translateX(0%)
@keyframes jiguang-3
  0%
  100%
    opacity .5
  50%
    opacity .1


@keyframes spin
  from
    transform: rotate( 0deg )

  to
    transform: rotate( 360deg )

@keyframes mirrowLight
  0%
    left 0%
  100%
    left 100%
