@keyframes moveUpDown
  0%
    background-position 0 0px
  100%
    background-position 0 -350px



@keyframes panel-animation
  0%
    transform translateY(-20%)
    opacity 0

  100%
    transform translateY(0px)
    opacity 1

