// Rank Headings
//
// `.h[1|2|3|4]` - Make any H rank look like another H rank with the appropriate class
// 
// h1.h2 - Make a h1 look like a h2
// 
// Markup:
// <h1 class="h2">Make a h1 look like a h2</h1>
// <h2 class="h4">Make a h2 look like a h4</h2>
// 
// Styleguide 2.2

   
h1, .h1, h2, .h2, h3, .h3 
  font-weight normal

h1, .h1
  font-size 3.5em
  line-height 110%
      
h2, .h2 
  font-size 3em
  line-height 105%
  
h3, .h3 
  font-size 2em 
  
h4, .h4 
  font-size 1.5em