$col-dark-grey = #2C2E2F
$col-profero-yellow = #ffd923
$col-black = #000
$col-white = #fff

$color-names = "dark-grey", "primary-yellow", "black", "white"
colors()
  return $col-dark-grey $col-profero-yellow $col-black $col-white
