$col-dark-grey = #2C2E2F
$col-profero-yellow = #ffd923
$col-black = #000
$col-white = #fff
$col-nav-background = rgba(0, 0, 0, 0.1)
$col-border-purple = #d200ff
$col-primary-grey = #292b2e
$col-bg-grey = #222222
$col-button-blue = #07cbe9
$col-green = #9ece12
$col-blue = #13012e
$col-bg-grey = #292b2f
$col-txt-grey = #c1c1c1
$col-txt-purple = #c598ff
$col-txt-blue = #0078ff
$col-space-grey = #363f40
$color-names = "dark-grey", "primary-yellow", "black", "white"
colors()
  return $col-dark-grey $col-profero-yellow $col-black $col-white
$col-text-grey = #1e1e1e
$col-purple = #7019d7

$col-sidenav-grey = #72706c
$col-sidenav-panel-bg-grey = #333333

$text-color-blue = #00fffc
