/**
  Store variables here
**/
$desktop-min = 1025px 
$tablet-max = 1024px
$tablet-min = 768px
$mobile-max = 767px
$xs-mobile-max = 375px

$large = "(min-width:$desktop-min)"
$medium = "(min-width:$tablet-min) and (max-width:$tablet-max)"
$medium-max = "(max-width:$tablet-max)"
$medium-min = "(min-width:$tablet-min)"
$small = "(max-width:$mobile-max)"

$site-padding = 20px
$font-family = 'Helvetica Neue', Helvetica, Arial, sans-serif
$bg-size-htc-url = '/backgroundsize.min.htc' 