// Rank Headings
//
// `.h[1|2|3|4|5|6|7]` - Make any H rank look like another H rank with the appropriate class
// 
// h1.h2 - Make a h1 look like a h2
// 
// Markup:
// <h1 class="h2">Make a h1 look like a h2</h1>
// <h2 class="h4">Make a h2 look like a h4</h2>
// 
// Styleguide 2.2

   
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 
  font-weight normal
 
h1()
  font-size 3em
  line-height 1.2 
  @media $small
    font-size 1.7em
    line-height 1.25

h2() 
  font-size 2.6em
  line-height 1.16 
  @media $small
    font-size 1.6em
    line-height 1.4
  
h3()
  font-size 2.143em
  line-height 1.2 
  
h4() 
  font-size 1.7em
  line-height 1.25
  
h5()
  font-size 1.429em
  line-height 1.3
  small()
    font-size 1.4em
    line-height 1.3
  
h6()
  font-size 1.143em
  line-height 1.65

h7() 
  font-size 1em 
  line-height 1.6

h1, .h1
  h1()

h2, .h2 
  h2()
  
h3, .h3
  h3() 
  
h4, .h4 
  h4()
  
h5, .h5
  h5()
  
h6, .h6
  h6()
  
.h7 
  h7()