// Presentation
//
// Styleguide 5

// Separators/Dividers
//
// `.hr` Horizontal Rules
//
// .hr--content - Content 
// .hr--headline - Headline
// 
// Markup:
// <hr class="hr {$modifiers}">
//
// Styleguide 5.1
   
hr, div
  &.hr
    clearfix()
    text-align left
    display block
    border none
    width 100px
    margin 25px 0
    height 1px
    
  &.hr--content
    background-color $col-dark-grey
    width 100%
    
  &.hr--headline
    background-color $col-profero-yellow
    height 2px
    width 70px