$col-dark-grey = #2C2E2F
$col-night = #001e27
$col-night-highlight = #3a6567
$col-profero-yellow = #ffd923
$col-black = #000
$col-white = #fff

$color-names = "dark-grey", "night", "black", "white"
colors()
  return $col-dark-grey $col-night $col-black $col-white
