small()
  @media $small
    {block}

medium()
  @media $medium
    {block}
    
large()
  @media $large
    {block}

retina()
  @media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    {block}
    
bp(mod, size)
  @media({mod}-width:size)
    {block}