*.DS_Store
.DS_Store?
.DS_Store/*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.ftpquota
*.subl134.tmp
nbproject
node_modules
tmp
.idea
*.swp
deploy.sh
deploy
deploy?
deploy/*
bb-static
bb-static/*
npm-debug.log*

*.mp4
*.pdf
*.mov