// Layout
//
// Look through layout/_index.styl for more styles.
//
// Styleguide 3

// Visibility
//
// `.l-[mobi|desk|tabt[-min|-max]]`
//
// .l-mobi - Mobile only
// .l-desk - Desktop only
// .l-tabt-min - Tablet and higher
// .l-tabt-max - Tablet and lower
// .l-tabt - Tablet only
// 
// Markup:
// <div class="{$modifiers}">I may or may not show depending on screen size</div>
//
// Styleguide 3.1


// Display
//
// `.l-[block|inl-block|hidden]`
//
// .l-block - Block display
// .l-inl-block - Inline block display
// 
// Markup:
// <div class="bg--dark-grey {$modifiers}">Hello World</div>
//
// Styleguide 3.2


// Vertical Alignment
//
// `.l-vcenter--[l|r]`
//
// .l-vcenter--[l|r] - Vertical alignment
// 
// Markup:
// <div style="height: 200px;" class="l-relative">
//   <div class="l-vcenter--l">Left align</div>
//   <div class="l-vcenter">Middle align</div>
//   <div class="l-vcenter--r">Right align</div>
// </div>
//
// Styleguide 3.3


// Width
//
// `.l-w--[$x]p`
//
// .l-w--30p - 30% width box 
// .l-w--tabt-min-50p - 50% width in tablet and higer
// 
// Markup:
// <div class="bg--primary-yellow {$modifiers}">Hello World</div>
//
// Styleguide 3.4


// Paddings
//
// `.l-pad--[[l|r|t|b][-[desk|tabt[-min|-max]|mobi]]-$x` where 0 <= $x <= 90
//
// .l-pad--20 - 20px padding all around
// .l-pad--l-30 - 30px padding left
// .l-pad--l-tabt-min-25 - 25px padding left in tablet and higher
// .l-pad--t-desk-25 - 25px padding top in desktop
// .l-pad--b-50 - 50px padding bottom
// 
// Markup:
// <div class="bg--mid-violet {$modifiers}">Hello World</div>
//
// Styleguide 3.5


// Margins
//
// `.l-mgn--[[l|r|t|b][-[desk|tabt[-min|-max]|mobi]]-$x` where 0 <= $x <= 90
//
// .l-mgn--20 - 20px margin all around
// .l-mgn--l-30 - 30px margin left
// .l-mgn--l-tabt-min-25 - 25px margin left in tablet and higher
// .l-mgn--t-desk-25 - 25px margin top in desktop
// .l-mgn--b-50 - 50px margin bottom
// 
// Markup:
// <div class="bg--mid-orange {$modifiers}">Hello World</div>
//
// Styleguide 3.6

   
.l-container
  clear()
  clearfix()
  position relative
  margin  0 auto
  padding 0 20px
  
  @media $medium-max 
    width 90%
    
  @media $large
    width 980px
    
  &--wide, &--xwide 
    width 1100px
    @media $medium-max
      width 100%
    @media $large
      width 1100px
    
  &--xwide 
    @media (min-width: 1200px)
      width 1200px
    
  &--narrow
    max-width 768px
    

.l-mobi 
  display none !important
  +bp(max, $mobile-max)
    display block !important
    
.l-desk
  +bp(max, $tablet-max)
    display none !important
    
.l-tabt-max
  +bp(min, $desktop-min)
    display none !important

  +bp(max, $tablet-max)
    display block !important
    
.l-tabt
  +bp(min, $desktop-min)
    display none !important

  +bp(max, $tablet-max)
    display block !important
    
  +bp(max, $mobile-max)
    display none !important
    
.l-tabt-min
  display none !important
  +bp(min, $tablet-min)
    display block !important
    
.l-ghost
  width 0
  opacity 0
  position absolute
  -ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  
.l-offscreen
  @extend .l-ghost 
  left -1000px
  
.l-flt--r
  float right !important
  
.l-flt--l
  float left !important
  
.l-hidden 
  display none !important
  
.l-block 
  display block !important
  
.l-block--mobi
  @media $small
    display block !important
    
.l-block--tabt-min
  @media $medium-min
    display block !important
    
.l-block--tabt-max
  @media $medium-max
    display block !important
    
.l-block--tabt
  @media $medium
    display block !important
  
.l-inl-block 
  display inline-block !important
  
.l-inl 
  display inline !important

.l-relative
  position relative !important
  
.l-br-mobi
  @media $small 
    display block !important
    
.l-br-tabt
  @media $medium 
    display block !important

.l-br-desk
  @media $large 
    display block !important
  
/* Vertical center */
.l-vcenter--l
  position absolute
  top 50%
  transform translate(0, -50%)
  
.l-vcenter
  @extend .l-vcenter--l
  left 50%
  margin-right -50%
  transform translate(-50%, -50%)
  
.l-vcenter--r
  @extend .l-vcenter--l
  right 0 

.l-center 
  margin-left auto !important
  margin-right auto !important
  

for $x in (0..100)
  .l-w--{$x}p
    width $x * 1% !important
    
  .l-w--desk-{$x}p
    @media $large
      width $x * 1% !important
      
  .l-w--tabt-{$x}p
    @media $medium
      width $x * 1% !important
      
  .l-w--tabt-min-{$x}p
    @media $medium-min
      width $x * 1% !important
      
  .l-w--tabt-max-{$x}p
    @media $medium-max
      width $x * 1% !important
      
  .l-w--mobi-{$x}p
    @media $small
      width $x * 1% !important
  
$spaces = "mgn", "pad"
$positions = "l", "r", "t", "b"

for $x in 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100
  for $spacing, $space in "margin" "padding"
    .l-{$spaces[$space]}--{$x}
      {$spacing} $x * 1px !important
      
    .l-{$spaces[$space]}--mobi-{$x}
      @media $small
        {$spacing} $x * 1px !important
        
    .l-{$spaces[$space]}--tabt-{$x}
      @media $medium
        {$spacing} $x * 1px !important
    
    .l-{$spaces[$space]}--tabt-min-{$x}
      @media $medium-min
        {$spacing} $x * 1px !important
            
    .l-{$spaces[$space]}--tabt-max-{$x}
      @media $medium-max
        {$spacing} $x * 1px !important
        
    .l-{$spaces[$space]}--desk-{$x}
      @media $large
        {$spacing} $x * 1px !important
      

  for $value, $pos in "left" "right" "top" "bottom"
    
    for $spacing, $space in "margin" "padding"
      
      .l-{$spaces[$space]}--{$positions[$pos]}-{$x}
        {$spacing}-{$value} $x * 1px !important
        
      .l-{$spaces[$space]}--{$positions[$pos]}-mobi-{$x}
        @media $small
          {$spacing}-{$value} $x * 1px !important
          
      .l-{$spaces[$space]}--{$positions[$pos]}-tabt-{$x}
        @media $medium
          {$spacing}-{$value} $x * 1px !important
          
      .l-{$spaces[$space]}--{$positions[$pos]}-tabt-min-{$x}
        @media $medium-min
          {$spacing}-{$value} $x * 1px !important
          
      .l-{$spaces[$space]}--{$positions[$pos]}-tabt-max-{$x}
        @media $medium-max
          {$spacing}-{$value} $x * 1px !important
          
      .l-{$spaces[$space]}--{$positions[$pos]}-desk-{$x}
        @media $large
          {$spacing}-{$value} $x * 1px !important
        