$is-ie := false

ks-no-conflict = true
@import 'kouto-swiss'

/* Global */
@import 'global/_reset'
@import 'global/_swatch'

/* Mixins */
@import 'mixins/_ie.styl'
@import 'mixins/*.styl'

@import 'global/*.styl'

/* Layout */
@import 'layout/*.styl'

/* Components */
@import 'components/*.styl'

/* Vendor */
@import 'vendor/*.styl'