.c-about-us
  background-image url('../img/about-us-background.jpg')
  background-repeat no-repeat
  background-position center
  background-size cover
  padding-top 134px
  &__img
    width 225px
    height 48px
    // padding 134px 0 43px
    margin 0 auto 43px
  &__content
    width 90%
    max-width 990px
    margin auto
    p
      line-height 24px
    &--zh
      p
        font-size 16px
    &--en
      p
        font-size 14px
        &.txt-color-blue
          font-size 18px
  &__map
    position relative
    width 952px
    height 671px
    margin 66px auto 0
    background-image url('../img/about-us-map.png')
    &__overlay
      
      position absolute
      text-align left
      font-size 14px
      line-height 24px
      &--beijing
        width 364px
        top 135px
        right 5px
      &--guangzhou
        width 300px
        top 399px
        right 75px
      &--guangdong
        width 255px
        top 425px
        left 250px
      &--hongkong
        width 350px
        top 566px
        right 42px
  &__partners
    position relative
    top -10px
    padding-bottom 100px
  .c-legal-footnote
    a
    p
      color white
    a
      &:active
      &:hover
      &:visited
        color white
      