.c-masonry
  margin 60px auto 150px
  width 76.5%
  min-width $desktop-min
  img
    max-width 120px
    vertical-align middle
  &__item
    text-align center
    width 210px
    height 120px
    display inline-block
    background-color transparent
    transition all .3s ease-in-out
    i
      display-inline(middle)
      height 100%
    &:hover
      background-color $col-bg-grey