.c-masonry
  margin 60px auto 150px
  width 77%
  min-width $desktop-min
  img
    max-width 120px
    vertical-align middle
  &__item
    text-align center
    width 210px
    height 120px
    display inline-block
    i
      display-inline(middle)
      height 100%
    