.c-contact
  background-image url(../img/page-contact-background.jpg)
  background-size cover
  height 100%

  h1
    display inline-block
  canvas
    position absolute
    top 0
    left 0
    z-index 0
  &__form
    position relative
    max-width 1200px
    margin auto
    text-align left
    z-index 1
    .font-icon-mail
    .font-icon-address
    .font-icon-phone
      font-size 50px
      width 50px
      display table-cell
      vertical-align top

    