@keyframes moveUpDown
  0%
    background-position center 10px
  50%
    background-position center 20px
  100%
    background-position center 10px

.c-homepage
  &__1
    background-image url("../img/homepage-utune-hero.jpg")
    background-size auto 110%
    animation moveUpDown 5s infinite