.c-homepage
  min-width $desktop-min
  .inPanel
    opacity 1
    transition-duration .6s
  .outPanel
    opacity 0
    transition-duration .6s
  h2
    margin 140px auto 60px
    text-transform uppercase
  &__1
    background-image url("../img/homepage-utune-hero.jpg")
    background-size 100% 200%
    animation moveUpDown 15s infinite alternate linear
    svg
      opacity  0
  &__next-button
    position absolute
    bottom 30px
    left 50%
    margin-left -20px
    height 83px
    width 40px
    font-size 64px
    cursor pointer
  &__2
    background-color $col-bg-grey
  &__tab-1
  &__tab-2
  &__tab-3
  &__tab-4
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    background-size cover
    background-repeat no-repeat
    opacity 0
  &__tab-1
    background-image url("../img/background-wedo-star1.jpg")
    background-size 100% 100%
    opacity 1
    .star
      position absolute
      left -10%
      bottom 0px
      width 106%
      height 100%
      opacity .4
      animation lang 30s linear 0s infinite
  &__tab-2
    background-image url("../img/background-wedo-mirror.jpg")
  &__tab-3
    background-image url("../img/background-wedo-water.jpg")
    .hill
    .lake
      position absolute
      left 0px
      right 0px
      top 0px
      bottom 0px
      width 100%
      height 100%
    .lang
      width 120%
      left -20%
      animation lang 9s linear 0s infinite
    .chuan
      animation chuan 20s linear 0s infinite
    .chuan2
      animation chuan2 24s linear 0s infinite
  &__tab-4
    background-image url("../img/background-wedo-hill.jpg")
    background-size 100% 100%
    .star
      position absolute
      width 7px
      height 7px
      box-shadow 0 0 5px $col-white
      border-radius 50%
      outline none
      animation star 10s ease-in-out infinite
      animation-fill-mode both
      filter blur(1px)
    .star1
      left 25%
      top 15%
      animation-name star1
    .star2
      left 15%
      top 25%
    .star3
      left 6%
      top 35%
      animation-name star1
    .star4
      left 20%
      top 50%
    .star5
      left 46%
      top 27%
      animation-name star1
    .star6
      left 75%
      top 17%
    .star7
      left 90%
      top 17%
    .star8
      left 87%
      top 36%
    .tree
      position absolute
      left 0px
      bottom 0px
      animation shake-leftright 25s ease-in-out infinite
    .tree1
      left -7%
      height 420px
      animation-name shake-leftright-2
    .tree2
      left 2%
      height 550px
    .tree3
      left 16%
      height 360px
    .tree4
      left 35%
      height 220px
      animation-name shake-leftright-2
    .tree5
      left 60%
      height 350px
    .tree6
      left 73%
      height 390px
    .tree7
      left 80%
      height 550px
      animation-name shake-leftright-2
  &__tab-panel
    position relative
    cursor pointer
    ul
      width 984px
      margin auto
    li
      color white
      float left
      width 118px
      margin 0 50px
      opacity 0
    span
      margin 30px 0 20px
      display block
      // font-size 2em
    a
      display block
      text-decoration none
      color $col-white
    &__icon
      font-size 50px
    &__button
      border 1px solid white
      border-radius 15px
      // font-size 1.125em
      height 44px
      width 80px
      border-radius 44px
      line-height 44px
      margin auto
      cursor pointer
      &:hover
      &.active
        background-color white
        color black
    &.in
      li:nth-child(1)
        animation panel-animation 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) 0s both
      li:nth-child(2)
        animation panel-animation 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) .2s both
      li:nth-child(3)
        animation panel-animation 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) .4s both
      li:nth-child(4)
        animation panel-animation 1s cubic-bezier(0.35, -0.1, 0.68, 1.1) .6s both
  &__3
    background-color $col-primary-grey
    &--main
      width 77%
      margin 0 auto
      background-color $col-white
  &__4
    background-color $col-primary-grey
  // contact section
  &__5
    background-image url("../img/background-contact.jpg")
    background-size cover
    background-repeat no-repeat
    color white
    h2
      margin 0px auto 100px
    &__main
      max-width $desktop-min
      margin auto
      text-align left
    &__email
    &__location
    &__phone
      display table-cell
      vertical-align top
      line-height 1.4em
      padding 4px 0 0 20px
      word-break break-all
      font-family $font-roboto-regular
    &__location
      padding-bottom 30px
    &__email
      a
        text-decoration none
        color white
        &:hover
          text-decoration underline
    .font-icon-mail
    .font-icon-address
    .font-icon-phone
      font-size 50px
      width 50px
      display table-cell
      vertical-align top
  &__6
    background-color $col-primary-grey
    position relative
    height 100%
    &--logo
      margin 160px auto
    img
      width 181px
      height 69px
    &--text
      font-size 20px
      line-height 1.5em
      span
        color $col-green
    &--footer
      font-size 16px
      line-height 1.5em
      margin-top 180px
      // margin-bottom 100px