.c-content
  &__mall
    background-color $col-primary-grey
    background-image url("../img/background-mall-hero.jpg")
    background-size 100% 100%
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    min-width 1024px
    &--tips
      position relative
      width 700px
      margin 0 auto
      top 300px
      h2
        font-size 48px
        line-height 2em
        font-family 'Microsoft YaHei'
      h3
        font-size 35px
        line-height 1.5em
      p
        font-size 21px
        line-height 1em
        font-family 'Microsoft YaHei'

