.c-nav
  position fixed
  z-index 10
  background-color $col-nav-background
  top 0
  width 100%
  height 70px
  padding 20px 29px 0
  min-width $desktop-min
  
  &__logo
  &__menu
    display-inline(middle)
  &__logo
    margin-right 80px
    img
      height 25px
  &__menu
    ul
      li
        float left
        margin-right 50px
        a
          display block
          font-size 16px
          text-transform uppercase
          color white
          // margin-top 7px
          padding 7px 20px
          border 1px solid transparent
          border-radius 17px
          font-family "Roboto Bold", "Arial"
          &.active
            border-color white
        &:nth-last-of-type(1)
          margin-right 0
          a
            border 0
            &.active
              border 0
              outline none
            
    