.c-plan
  &__header
    @media (max-width:1024px)
      height 600px
      min-height 600px
  &__header-bg
    position absolute
    height 100%
    width 100%
    overflow hidden
    img
      display block
      top -140%
      left -20%
      position relative
      width 140%
      animation rotateBg 20s linear 0s infinite
      @media (max-width:1700px)
        top -110%
        left -20%
      @media (max-width:1440px)
        top -80%
        left -20%
      @media (max-width:1200px)
        top -60%
      @media (max-width:1024px)
        top -70%
  &__main
    background-color #fff
    margin 10px auto
    color #737373
    &-design
      display table
      img
        width 100%
        display table-cell
      &--text
        font-family 'Microsoft YaHei'
        font-size 20px
        line-height 2em
        text-align right
        vertical-align top!important
      &:nth-child(1)
        padding-top 100px
      &--content
        display table-cell
        min-height 500px
        width 50%
        vertical-align bottom
  &__footer
    background-color $col-bg-grey
    .c-chain__footer--line-before
    .c-chain__footer--line-after
      &:before
      &:after
        background-color $col-white
    .c-chain__footer--line-before
    .c-chain__footer--line-after
      &:before
        height 2px
        bottom 6px
    &--line-after
    h2
      color $col-txt-grey
    h3
      color $col-txt-purple
    .c-chain__footer--icon
      span
        color $col-txt-purple