.c-plan
  &__header
    background-image url("../img/background-plan.jpg")
  &__main
    background-color #fff
    margin 10px auto
    color #737373
    &--design
      display table
    &--content
      display table-cell
      width 50%
      vertical-align middle
  &__footer
    background-color $col-bg-grey
    .c-chain__footer--line-before
    .c-chain__footer--line-after
      &:before
      &:after
        background-color $col-white
    .c-chain__footer--line-before
    .c-chain__footer--line-after
      &:before
        height 2px
        bottom 6px
    &--line-after
    h2
      color $col-txt-grey
    h3
      color $col-txt-purple
    .c-chain__footer--icon
      span
        color $col-txt-purple