.c-plan
  &__header
    @media (max-width:1024px)
      height 600px
      min-height 600px
  &__header-bg
    position absolute
    height 100%
    width 100%
    overflow hidden
    background-color #000
    opacity .9
    img
      display inline-block
      opacity .6
      position relative
      height 300%
      width 100%
      animation rotateBg 20s linear 0s infinite
      top -100%

  &__main
    background-color #fff
    margin 10px auto
    color #737373
    max-width 1440px
    &-design
      display table
      img
        width 100%
        display table-cell
      &--text
        font-family 'Microsoft YaHei'
        font-size 20px
        line-height 2em
        text-align right
        vertical-align top!important
      &:nth-child(1)
        padding-top 100px
      &--content
        display table-cell
        min-height 500px
        width 50%
        vertical-align bottom
        position relative
        .js-fancybox-thumb
          cursor pointer
        a
          &:focus
            outline none
        .fancybox-text
          display block
          position absolute
          &.rp
            left 10%
            top 40%
            width 55%
            height 50%
          &.lp
            left 35%
            top 35%
            width 50%
            height 60%
        .hide
          display none!important
  &__footer
    background-color $col-bg-grey
    .c-chain__footer--line-before
    .c-chain__footer--line-after
      &:before
      &:after
        background-color $col-white
    .c-chain__footer--line-before
    .c-chain__footer--line-after
      &:before
        height 2px
        bottom 6px
    &--line-after
    h2
      color $col-txt-grey
    h3
      color $col-txt-purple
    .c-chain__footer--icon
      span
        color $col-txt-purple

  .gallery-carousel-control
    display none