.c-space
  &__header
    @media (max-width:1024px)
      height 600px
      min-height 600px
  &__footer
    background-color $col-white
    .c-chain__footer--line-before
    .c-chain__footer--line-after
      &:before
      &:after
        background-color $col-black
    &--line-after
    h2
      color $col-space-grey
    h3
      color $col-txt-blue
    .c-chain__footer--icon
      span
        color $col-txt-blue