.section.c-homepage__1.in
  svg
    opacity  1
  #creative_word
    stroke-dasharray 1090.15px
    stroke-dashoffset 1090.15px
    animation creative 3s linear forwards


  #creative_t
    stroke-dasharray 52.2735px
    stroke-dashoffset 52.2735px
    animation creative .1s linear forwards
    animation-delay 3s
    -webkit-animation-delay 3s
  #creative_dot
    stroke-dasharray 30.7049px
    stroke-dashoffset 30.7049px
    animation creative .1s linear forwards
    animation-delay 3.1s
    -webkit-animation-delay 3.1s