.c-wedo
  background-color #464646
  &__title
    background-image url(../img/about-us-img-0.jpg)
    background-size cover
    background-repeat no-repeat
    height 100%
    position relative
    h1
      background-image url(../img/about-us-img-8.png)
      background-size 100% auto
      background-repeat no-repeat
      position absolute
      text-align left
      top 8%
      right 0
      width 96%
      height 400px
      padding 44% 0 0 9%
      font-size 60px !important
      font-weight bold
      font-family $font-helvetic
      
  &__slider
    height 100%
    &-1
      background-color #28b4cf
      
    &-2
    &-4
      background-color white
      .c-wedo__thumb-wrap
        height 600px
    &-3
      background-color #333333
  &__thumb-wrap
    height 440px
    overflow hidden
    &__thumb
      background-repeat no-repeat
      background-size cover
      background-position center center
      transition all .2s ease-in-out
      display block
      height 100%
      &:hover
        transform scale(1.1)
      
  &__brief
    color black
    height 100%
    position absolute
    text-align left
    font-family $font-yahei
    // margin-top -155px
    top 265px
    width 100%
    height 100%
    z-index 1
    background-size 100% auto
    background-repeat no-repeat
    &-1
      background-image url(../img/about-us-img-5.png)
      .c-wedo__brief__heading
        border-color rgba(255, 255, 255, 0.4)
        &:after
          background-color rgba(255, 255, 255, 0.4)
    &-2
      .c-wedo__brief__heading
        border-color rgba(224, 224, 224, 1)
        &:after
          background-color rgba(224, 224, 224, 1)
    &-3
      background-image url(../img/about-us-img-6.png)
      .c-wedo__brief__heading
        border-color rgba(133, 133, 133, 1)
        &:after
          background-color rgba(133, 133, 133, 1)
    &-4
      .c-wedo__brief__heading
        border-color rgba(224, 224, 224, 1)
        &:after
          background-color rgba(224, 224, 224, 1)
    &-1
    &-3 
      color white
    &-2
    &-4
      background-image url(../img/about-us-img-7.png)
    &__heading
      font-size 36px
      line-height 36px
      border-bottom 1px solid
      position relative
      padding-bottom 17px
      margin-bottom 20px
      &:after
        content ""
        position absolute
        left 0
        bottom 0
        margin-bottom -1px
        width 40px
        height 2px
    &__content
      font-size 14px
      line-height 22px
      margin-bottom 30px
      @media (max-width:1200px)
        font-size 13px
    a.font-icon-arrow
      font-family $font-roboto-light
      color inherit
      font-size 16px
      position absolute
      right 0
      bottom 0
      padding-right 26px
      line-height 16px
      &:before
        position absolute
        right 0
        font-size 12px
      
  &__overlay
    width 80%
    left 10%
    height 244px
    top 20%
    @media (min-width:1200px)
      top 25%
      height 264px
    @media (min-width:1400px)
      top 30%
    @media (min-width:1600px)
      top 35%
  
  &__carousel-nav
    position absolute
    bottom 10px
    width 60px
    height 30px
    z-index 1
    color #d6d6d6
    right 10px
    &__btn
      font-size 30px
      cursor pointer
    &__prev
      transform rotate(180deg)
      float left
      margin-right 10px
    