.c-work
	font-family $font-yahei
	&__main
		&__heading
			text-transform uppercase
			font-weight bold
			&.chinese
				font-style italic
		section
			
			&:nth-of-type(1)
				background url(../img/work-section-bg-1.jpg)
				background-size cover
				background-position top center
				background-repeat no-repeat
				.c-work__main__section--1
					padding-bottom 150px
					.c-work__main__heading
						color $color-work-heading-text-blue
						text-align center
						&.english
							font-size 120px
							padding-top 250px
							line-height 120px
							position relative
						&.chinese
							font-size 50px
							padding-left 150px
							line-height 50px
							position relative
							padding-left 30px
					
					img
						float right
						width 40%
						padding-top 110px
							
					p
						width 40%
						position relative
						left 10%
						color $color-work-text-grey
						font-size 26px
						line-height 40px
						position relative
						font-style italic
						font-weight bold
						text-align right
						margin-top 10px
				.c-work__main__section--2
					.c-work__main__section__overlay
						float left
					.c-work__main__heading
						color $color-work-heading-text-blue
						&.english
							font-size 120px
							line-height 120px
							text-align right
							padding-right 10%
		
						&.chinese
							text-align left
							font-size 50px
							line-height 50px
							font-weight bold
					img
						float left
						width 40%
						padding-bottom 200px
						
					p
						// width 40%
						position relative
						color $color-work-text-grey
						font-size 26px
						line-height 40px
						position relative
						font-style italic
						font-weight bold
						text-align left
						float left
						margin-top 20px
					
				
			&:nth-of-type(2)
				background url(../img/work-section-bg-2.jpg)
				background-size cover
				background-position top center
				background-repeat no-repeat
				
				.c-work__main__section__img
					a
						img
							width 60px
							
				.c-work__main__heading
					position absolute
					&.english
						font-size 75px
						line-height 75px
					&.chinese
						font-size 65px
						line-height 75px
			.c-work__main__section--3
				position relative
				.c-work__main__section__img
					position relative
					top 0
					width 70%
					margin 0 10% 0 auto
					
					&>img
						width 100%
					a
						position absolute
						right 10%
						bottom 5%
				.c-work__main__heading
					position absolute
					&.english
						color $color-work-heading-text-grey
						left 10%
						top 20%
	
					&.chinese
						color $color-work-heading-text-green
						left 5%
						top 32%
			.c-work__main__section--4
				position relative
				padding 50px 0
				.c-work__main__section__img
					position relative
					width 70%
					&>img
						width 100%
				a
					position absolute
					bottom 10%
					right -40px
				.c-work__main__heading
					&.english
						color $color-work-heading-text-grey
						top 20%
						right 12%
					&.chinese
						color $color-work-heading-text-red
						top 32%
						right 10%
						
						
			.c-work__main__section--5
				position relative
				padding 50px 0
				.c-work__main__section__img
					position relative
					width 70%
					margin 0 10% 0 auto
					&>img
						width 100%
						box-shadow 1px 1px 80px $color-work-shaddow-purple
					a
						position absolute
						right 0
						bottom -70px
				.c-work__main__section__text
					position absolute
					top 4%
					left 10%
				.c-work__main__heading
					position relative
					&.english
						color $color-work-heading-text-grey
						float left
					&.chinese
						color $color-work-heading-text-purple
						float left
						margin-left 50px
			
			.c-work__main__section--6
				position relative
				padding 50px 0
				.c-work__main__section__img
					position relative
					width 70%
					margin 0 auto 0 10%
					&>img
						width 100%
					a
						position absolute
						right -50px
						bottom 9.5%
				.c-work__main__heading
					&.english
						color $color-work-heading-text-grey
						top 7%
						right 16%
					&.chinese
						color $color-work-heading-text-red
						right 11%
						top 19%
			
			.c-work__main__section--7
				position relative
				padding 20px 0
				.c-work__main__section__img
					position relative
					width 55%
					margin 0 0 0 30%
					&>img
						width 100%
						box-shadow 1px 1px 80px $color-work-shaddow-purple
					a
						position absolute
						left -90px
						bottom 0
				.c-work__main__heading
					&.english
						color $color-work-heading-text-grey
						top 15%
						left 10%
					&.chinese
						color $color-work-heading-text-red
						left 32%
						top 39%
			
			.c-work__main__section--8
				position relative
				padding 200px 0 100px
				.c-work__main__section__img
					position relative
					width 70%
					margin 0 auto 0 10%
					&>img
						width 100%
					a
						position absolute
						right -50px
						bottom 12%
				.c-work__main__heading
					&.english
						color $color-work-heading-text-grey
						top 16%
						right 16%
					&.chinese
						color $color-work-heading-text-pink
						right 11%
						top 7%
			.c-chain__footer--line
				&-before
				&-after
					&:before
					&:after
						background-color $col-space-grey
	
.gallery-cover
	width 100%
	background $color-black-transparent
	position absolute
	z-index 19
.gallery-popup
	position absolute
	width 80%
	// left 10%
	z-index 20
	max-width 800px
	overflow hidden
	img
		width 100%
.gallery-popup-container
	width 100%
	height 100%
	overflow-y auto
.gallery-popup-close
	position absolute
	top 10px
	right 10px
	width 30px
	height 30px
	border-radius 50%
	background $color-close-dark-grey
	cursor pointer
	&:hover
		background $color-close-hover-grey
	&:before
	&:after
		content ""
		width 15px
		height 2px
		background white
		position absolute
		transform-origin center center
		top 14px
		left 8px
	&:before
		transform rotate(45deg)
	&:after
		transform rotate(-45deg)

.gallery-carousel-control-btn
	width 60px
	height 60px
	background $color-close-dark-grey
	cursor pointer
	border-radius 50%
	position absolute
	top calc(50% - 30px)
	
	&:hover
		background $color-close-hover-grey
	span
		display block
		width 20px
		height 20px
		border-left 5px solid white
		border-bottom 5px solid white
		position relative
		top 20px

.gallery-carousel-control-prev
	left 2%
	span
		transform rotate(45deg)
		margin-left 40%
.gallery-carousel-control-next
	right 2%
	span
		transform rotate(-135deg)
		margin-left 30%
		