mixin legalFootNote
  .c-legal-footnote
    p.
      <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102002933" target="_blank">
      京公网安备 11010102002933号
      </a> &nbsp;&nbsp;|&nbsp;&nbsp; 
      <a href="http://www.miitbeian.gov.cn" target="_blank">
      ICP备案订单号：30150546769980928
      </a>

