@font-face
  font-family 'Bomb'
  src url('../fonts/bomb-webfont.eot')
  /* IE9 Compat Modes */
  src url('../fonts/bomb-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bomb-webfont.woff') format('woff'), url('../fonts/Bomb.ttf')  format('truetype'), url('../fonts/bomb-webfont.svg#') format('svg')
  /* Legacy iOS */
  font-style normal
  font-weight 400

@font-face
  font-family 'Kilogram'
  src url('../fonts/kilogram-webfont.eot')
  /* IE9 Compat Modes */
  src url('../fonts/kilogram-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/kilogram-webfont.woff') format('woff'), url('../fonts/Kilogram.ttf')  format('truetype'), url('../fonts/kilogram-webfont.svg#') format('svg')
  /* Legacy iOS */
  font-style normal
  font-weight 400
