extends ../../_partials/_template
include ../../_mixins/_side-nav

block headJs
  link(rel="stylesheet" href="/public/utune.min.css")
  script(src="/public/utune-detectors.min.js")
block js
  script(src="/public/jquery-migrate-1.2.1.min.js")
  script(src="/public/three.js")
  script(src="/public/utune-globe.min.js")
  script(src="/public/utune.min.js")
block content
  +side-nav(1)
  .c-chain.c-space
    .c-chain__header.toload.home
      #ourintro
        .header-gradient-bg
        #webgl-canvas
      .c-chain__header--title.font--bomb
        .c-chain__header--title-content Space Design

    .c-chain__footer.c-space__footer
      .c-chain__footer--title
        .c-chain__footer--line-before
        h2 WHY UTUNE
        .c-chain__footer--line-after
      h3 Team Vision Innovation Passion
         br
         | Standard Quality Profession System
      .c-chain__footer--icon
        ul
          each item,key in chain.utune
            li
              a(href="#")
                img(src=paths.img + item.img +".svg")
                span=item.txt