extends ../_partials/_template

block content
  .c-content.c-about-us
    .c-about-us__img
      img(src=paths.img + "logo-nav.svg", alt="Utune logo")
    .c-about-us__content.c-about-us__content--ch.txt-center
      p.
        北京悦动力自2009年成立以来，在品牌传播，产品策划，创意创新，采购与生产等领域不断拓展前行。<br/>
        我们坚信敏锐的洞察与不断的创新精神，可以赋予产品灵魂，创造商机。专业的服务和高效的执行力将不断提高企业竞争力。<br/>
        我们坚持与客户一起思考，用设计的方法解决问题，创造具有感染力和影响力的用户品牌感知体验。悦动力总部位于北京，广州设立分公司并建立工厂。携手多家国内一流专业工厂、物流公司、货代公司，共筑生产与经营网络。通过多年积累，服务20家以上的世界500强企业，悦动力利用跨界的思维与经营模式，建立了专业的设计、采购、生产、物流团队。形成了自己独有的经营特色与模式。我们具备ISO9001、SEDEX、进出口贸易等多种权威认证与资质审核。
      br
      p.txt-color-blue.
        WE BELIEVE IN <br>成就＝思维方式×热情×能力
      p.
        我们最自信的经验，来自于我们引以为荣的团队的整体学习能力，<br/>对于每个行业中涉及到的材料与产品展现特征，我们都会执着的去了解学习，并贡献着经验与永动的塑造能力。
      br
      br
      br
    .c-about-us__content.c-about-us__content--en
      p.txt-center.
        Incepted in 2009, Utune aims at offering Continuous improving service in brand communication, product planning, creative innovation, procurement and production.We firmly believe that the keen insight and the spirit of innovation, can make the products   alive and create business opportunities. We also believe that professional services and efficient execution will continue to improve the competitiveness of enterprise.
      br
      p.txt-color-blue.
        Creative Design Without Limits
      p We are creative developer and trying to create great experiences and products.  We insist : 
      p.txt-color-blue.
        Transboundary<br/>Original<br/>Innovative<br/>Creative
      br
      p.
        We insist on working and thinking closely with our clients, creating powerful and influential brand perception experience by offering 
        different design solutions. Utune is located in Beijing with branch office and factory in Guangzhou.Cooperating with a number of first-class professional manufactures, logistics companies, freight forwarding companies, Utune established a great network of production and operation to offer our clients a full service. Through the accumulation of many years experience, serving more than 20 world's top 500 enterprises, Utune uses cross-border thinking and business model, forms a professional team of design, procurement, production and logistics, establishes its unique operating system and business model.
    .c-about-us__map
      //- img(src=paths.img + 'about-us-map.png')
      p.c-about-us__map__overlay.c-about-us__map__overlay--beijing.
        北京总部<br/>北京市东城区广渠门南小街领行国际三号楼二单元604
      p.c-about-us__map__overlay.c-about-us__map__overlay--guangzhou.
        广州分公司<br/>广州市天河区潭村路348号马赛国际商务中心
      p.c-about-us__map__overlay.c-about-us__map__overlay--guangdong.
        广东工厂<br/>梅州市五华县诺华工业园诺华实业集团
    .c-about-us__partners
      img(src=paths.img + 'about-us-partners.jpg')
