extends ../_partials/_template
include ../_mixins/_side-nav
include ../_mixins/_contactForm
include ../_mixins/_legalFootNote

block metaKeywords
  meta(name='keywords', content="悦动力,品牌沟通,产品策划,供应链管理,utune, Brand communication, product planning, supply-chain management")
block metaDescription
  meta(name="description", content="悦动力总部位于北京，广州设立分公司并建立工厂。联系电话 01067110836")
block content
  +side-nav(3)
  .c-content.c-contact
    .l-display-table
      .l-display-middle(data-js-white-box)
        canvas
        h1 contact us
        +contactForm("js-white-box-content")
    +legalFootNote

