extends ../_partials/_template
include ../_mixins/_nav
block content
  .c-content
    .c-content__mall
      .c-content__mall--tips
        h2 敬请期待
        h3.font--roboto-light Under Construction
        p.font--roboto-light If you have any needs, please contact us at 010-67110836.
        br
        br
        br
        p 如有产品需求，请联系我们
          span.font--roboto-light（010-67110836）

