.c-parallax
  position relative
  width 100%
  overflow hidden
  &.has-dots
    .slick-dots
      display block 
  .slick-dots
    display none
    text-align center
    li 
      inl-block(middle)
      padding .4em
      button 
        appearance none
        background-color $col-profero-yellow
        height 1.5em 
        width 1.5em
        border 0
        border-radius 50%
        color white
        &:hover
          background-color darken($col-profero-yellow, 10%)
  &__wrapper
    bg-size(cover, true)
    background-position 50% 50%
    height 500px
    background-attachment fixed
    background-repeat no-repeat
    position relative 
    overflow hidden
    +bp(max, $mobile-max)
      background-attachment inherit
    
  &__side-img
    position absolute
    bottom -100px
    left 137%
    +bp(max, $tablet-max)
      bottom -150px
    +bp(max, $mobile-max)
      bottom -200px
    img 
      width 270px
    
  &__btn
    @extend .l-vcenter
    position absolute
    z-index 100
    height 100%
    cursor pointer
    
    &:hover
      img 
        opacity 1
    img 
      transition opacity .4s ease
      top 40%
      position relative
      opacity 0
    
  &__prev 
    left 5%
    
  &__next
    left 95%
    
  &__content
    fl()
    width 100%
    position relative 
    padding 2em 
    margin-left 5em
    height 400px
    +bp(max, $tablet-max)
      margin-top 4em
      margin-left auto
  &__txt 
    bottom 5%
    position absolute
    +bp(max, $tablet-max)
      bottom 40px
    +bp(max, $mobile-max)
      bottom auto
    &__body 
      font-size 190%
      line-height 100%
      text-transform uppercase
      color $col-profero-yellow
      +bp(max, $mobile-max)
        max-width 320px
    
  h1 
    font-size 270%
    margin-bottom 20px
         