extends ../_partials/_template
block content

  .c-galaxy.bg--night(style='height: 1000px;', data-js-galaxy='head')
    img.l-hidden.l-w--0(src=paths.img + 'thumb-lensflare-200x200.png', alt='')
    .c-galaxy__shooter.js-galaxy__shooter--l
    .c-galaxy__shooter.js-galaxy__shooter--r

