display-inline(pos)
  display inline-block
  vertical-align pos
  
appearance(variable)
  appearance variable
  -webkit-appearance variable
  -moz-appearance variable

display-table-middle()
  display table
  vertical-align middle
  width 100%
  height 100%

display-table-cell-middle()
  display table-cell
  vertical-align middle