inl-block($_pos)
  display inline 
  display inline-block
  vertical-align $_pos
  
link-hover()
  &:hover
    text-decoration underline
  
fl()
  float left
  
fr()
  float right
  
placeholder(color)
  &::-webkit-input-placeholder 
    color color
  &::-moz-placeholder
    color color
  &:-ms-input-placeholder
    color color
  &:-moz-placeholder
    color color